body {
  text-align: center;
  background-color: antiquewhite;
}
.btn-container {
  display: flex;
  width: 500px;
  justify-content: space-evenly;
  margin: auto;
  border: 10px solid black;
  border-radius: 30px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlqrOdi5H4rGdV5O_3cxrJ7xtki5e2YQswMA&s");
  background-size: cover;
}

.btn {
  width: 100px;
  height: 100px;
  border: 5px solid black;
  border-radius: 20%;
  margin: 3rem;
  /* margin-top: 3rem; */
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.red {
  background-color: rgb(237, 84, 84);
}

.yellow {
  background-color: rgb(215, 215, 81);
}

.green {
  background-color: rgb(91, 232, 91);
}

.purple {
  background-color: rgb(244, 93, 244);
}

.flash {
  background-color: white !important;
  box-shadow: 0 0 20px white;
  transition: all 0.05s ease;
}
.btn:hover {
  box-shadow: 2px 2px black;
  opacity: 1;
  transition-duration: 0.2s;
}

.red:hover {
  background-color: red;
}

.yellow:hover {
  background-color: yellow;
}

.green:hover {
  background-color: green;
}

.purple:hover {
  background-color: purple;
}
